
html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

body {
    user-select: none;
    -webkit-user-select: none;
    color: #EEE;
    background-color: black;
    overflow: hidden;
    font-family: 'Montserrat', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    touch-action: manipulation;
}


@keyframes transition {
    from {
        background-color: white;
    }
    to {
        background-color: rgb(96, 0, 180);
    }
}

.transition {
  animation-name: transition;
  animation-duration: 2s;
}

#veil {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    border: 0;
    display: none;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #444;
    color: white;
    overflow: hidden;
    user-select: none;
    font-size: 2em;
}

#initials-form, #controller {
    display: none;
}

#rotate-me {
  text-align: center;
}

#counterclockwise {
    font-size: 5em;
}

#select-program, #select-program-label, .select-midi-in, #select-midi-channel, #select-midi-channel-label {
    font-size: 1.2em;
    margin-bottom: -1em;
}

#keyboard {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (orientation:portrait) {
  #keyboard {
    display: none;
  }
  #rotate-me {
    display: block;
  }
}

@media screen and (orientation:landscape) {
  #keyboard {
    display: flex;
  }
  #rotate-me {
    display: none;
  }
}

.full-screen {
    padding: 1em;
}



/* -----------------PIANO KEYS------------------ */

* {
    box-sizing:border-box
  }
  
  ul {
    height:18em;
    width:43em;
/*    margin:5em auto;*/
    margin: 0;
    padding:1.5em 0 0 1em;
    position:relative;
    user-select: none;
    touch-action: manipulation;
  }
  
  li {
    margin:0;
    padding:0;
    list-style:none;
    position:relative;
    float:left
  }
  
  ul .white {
    height:15em;
    width:3.75em;
    z-index:1;
    border-left:1px solid #bbb;
    border-bottom:1px solid #bbb;
    border-radius:0 0 5px 5px;
    background: white;
    touch-action: manipulation;
  }

  .black {
    height:8em;
    width:2em;
    margin:0 0 0 -1em;
    z-index:2;
    border:1px solid #000;
    border-radius:0 0 3px 3px;
    background: black;
    touch-action: manipulation;
  }

  /*
  ul .white:active {
    border-top:px solid #777;
    border-left:1px solid #999;
    border-bottom:1px solid #999;
    box-shadow:2px 0 3px rgba(0,0,0,0.1) inset,-5px 5px 20px rgba(0,0,0,0.2) inset,0 0 3px rgba(0,0,0,0.2);
    background:linear-gradient(to bottom,#fff 0%,#e9e9e9 100%)
  }

  
  .black:active {
    box-shadow:-1px -1px 2px rgba(255,255,255,0.5) inset,0 -2px 2px 3px rgba(0,0,0,0.6) inset,0 1px 2px rgba(0,0,0,0.5);
    background:linear-gradient(to right,#777 0%,#222 100%)
  }
  */

  .a,.g,.f,.d,.c {
    margin:0 0 0 -1em
  }
  
  ul li:first-child {
    border-radius:5px 0 5px 5px
  }
  
  ul li:last-child {
    border-radius:0 5px 5px 5px
  }

  .oct {
    height:15em;
    line-height: 15em;
    background-color: #444;
    color: white;
    padding: .4em;
  }

  .oct:active {
    background-color: #666;
  }

  .active-key {
    background-color: lime;
  }